body {
  background-color:  #ffe9c2;
  background-image: url(../fotos/fondo.jpg);
  background-repeat: repeat-y;
  background-size: contain;
  justify-content: center;
}
.piedefoto{color:  #5b3b02 }
.lista1{color: #5b3b02 }
.sub1{color: #5b3b02}
.sub2{color: #5b3b02}
.lista2{color: #5b3b02}
.lista3{color: #5b3b02}
.titulo1{font-size: 250%}
.titulo2{text-decoration: underline;}
.titulo3{text-decoration: underline;}
.fotoprincipal{width: 800px}
.banner {width: 100%}
.iconowasap {width: 70px;
  position: fixed;
  bottom: 10px;
  right: 15px;

}
footer {display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 200px;
  background-color: #FF8B8B;
  align-items: center;
  margin: 20px;
}
.redesbottom {width: 30%;
              display: flex;
              flex-direction: row;

}


.iconofb {width: 50%}
.iconoig {width: 50%}
.iconotw {width: 50%}
.iconoyt {width: 50%}

.logo {width: 10%;
  }

header {display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 200px;
  border: 5px red solid;
  align-items: center;
  margin: 20px
}

.nombrepag {font-size: 300%;
}

.redestop {width: 30%;
        display: flex;
        justify-content: center;
        justify-content: flex-end;
}

aside {display: flex;
  flex-direction: column;
  align-items: center;

  }
