body {
  background-color:  #ffe9c2;
  background-image: url(../fotos/fondo.jpg);
  background-repeat: repeat-y;
  background-size: contain;
}
.piedefoto{color:  #5b3b02 }
.lista1{color: #5b3b02 }
.sub1{color: #5b3b02}
.sub2{color: #5b3b02}
.lista2{color: #5b3b02}
.lista3{color: #5b3b02}
.titulo1{font-size: 250%}
.titulo2{text-align: center;}
.sub1{text-align: center;}
.lista1{text-align: center;}
.sub2{text-align: center;}
.lista2{text-align: center;}
.titulo3{text-align: center;}
.lista3{text-align: center;}
.titulo2{text-decoration: underline;}
.titulo3{text-decoration: underline;}
.fotoprincipal{width: 800px}
.banner {width: 100%}
.iconowasap {width: 50px;
  position: fixed;
  bottom: 10px;
  right: 15px;

}
footer {display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.iconofb {width: 50%}
.iconoig {width: 50%}
.iconotw {width: 50%}
.iconoyt {width: 50%}
