@font-face {
            font-family: "poor";
            src: url("../fuentes/PoorStory-Regular.ttf")format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap');

body {
  background-color:  #ffe9c2;
  background-image: url(../fotos/fondo.jpg);
  background-repeat: repeat-y;
  background-size: contain;
  justify-content: center;
  }
.nombrepag {font-family: 'Indie Flower', cursive;
           display: flex;
           justify-content: center;}
.titulo1{font-size: 250%}
.titulo2{text-decoration: underline;}
.titulo3{text-decoration: underline;}
.fotoprincipal{width: 50%}
.banner {width: 100%}
.iconowasap {width: 70px;
  position: fixed;
  bottom: 10px;
  right: 15px;

}

header {display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95vw;
  height: 30vh;
  border: 5px red solid;
  align-items: center;
  margin: 20px;
}

nav {display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  height: 30px;
  font-family: "poor";
  font-size: 150%;
  margin: 20px;
    }

aside {display: flex;
    flex-direction: column;
    align-items: center;
    }

footer {display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 30vh;
  background-color: #FF8B8B;
  align-items: center;
  margin: 20px;
}
.redesbottom {width: 30%;
              display: flex;
              flex-direction: row;

}


.iconofb {width: 50px;
  margin: 5px
}
.iconoig {width: 50px;
  margin: 5px}
.iconotw {width: 50px;
  margin: 5px}
.iconoyt {width: 50px;
margin-top: 5px}

.logo {width: 10%;
  }

h2 {
  font-size: 1rem;
}

.nombrepag {font-size: 300%;
  display: flex;
  justify-content: center;
  font-family: "poor"
}

.redestop {width: 30%;
        display: flex;
        justify-content: center;
        justify-content: flex-end;
    }

.chef { display: flex;
        height: 50vh;
        width: 100%;
        object-fit: scale-down;
        justify-content: center;
        margin: 10px;
    }

a:hover { color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 2vh;
        }

.col-lg-3 {
  display: flex;
  justify-content: space-between;
  }

@media (max-width: 575px) {
  body {background-color: white;
        background-image: none;
        font-family: 'Roboto', sans-serif;
    }
  }

@media (orientation:landscape) and (max-width: 991px)
{
  body {background-color: #ffe9c2;
        background-image: none;
        font-family: 'Indie Flower', cursive;
        }
}

@media (min-width: 575px) {
  .solocel  {display: none;
  }

}
